<h2>Ajouter un Membre</h2>

<form (ngSubmit)="submit()">
  <input type="text" [(ngModel)]="member.name" name="name" placeholder="Nom" required />
  <br>

  <input type="email" [(ngModel)]="member.email" name="email" placeholder="Email" required />
  <br>

  <input type="number" [(ngModel)]="member.age" name="age" placeholder="Age" required />
  <br>

  <input type="password" [(ngModel)]="member.password" name="password" placeholder="Mot de passe" required />
  <br>

  <button type="submit">Ajouter</button>
</form>
